# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar  # Maven Wrapper

# Gradle
.gradle/
build/

# Spring Boot application properties
/application.properties

# Spring Boot logs
/logs/

# OS-specific files
.DS_Store
Thumbs.db
